@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --window-height: calc(var(--vh, 1vh) * 100);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: var(--window-height, 100vh);
    overflow: hidden;
}

body {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 80vw;
    max-height: var(--window-height);
}

header {
    padding: 5vmin;
}

.search-container {
    display: flex;
    justify-content: center;
}

#search-box {
    height: 2rem;
    width: 60vw;
    border-radius: 15px;
    border: none;
    padding-left: 1rem;
}

.search-container *:focus {
    outline: none;
}

.search-container button {
    background-color: black;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}
  
#giphyme {
    width: 80vw;
    height: 50vh;
    padding: 5vmin;
    padding-top: 0;
}

#giphyme img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}